{{ 'albis-leasing-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'albis-leasing-script.js' | asset_url }}" defer="defer"></script>
<div id="shopDomain" style="visibility: hidden;">{{ shop.domain }}</div>

<div class="wrapper">
  <h1 class="page-title">Albis Leasing</h1>
  <div class="box-container">
    <h4 class="box-title">Items from the shopping cart</h4>
    <div class="box-content">
      <div class="item-details">
        {% for item in cart.items %}
          <div class="details-content">
            <div class="item-image-container">
              <img
                src="{{ item.image | image_url }}"
                alt="{{ item.image.alt | escape }}"
                class="item-image"
                loading="eager"
                width="100"
                height="100"
              >
              <p class="item-quantity">{{ item.quantity }}</p>
            </div>
            <div class="item-info-container">
              <div>
                <p class="item-title">{{ item.title }}</p>
                <p class="item-price">Price: {{ item.final_line_price | money }}</p>
              </div>

              <a class="item-remove" href="{{ item.url_to_remove }}">{% render 'icon-remove' %}</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="total-container">
        <p class="total">Total</p>
        <p class="total-value"><span class="total-currency">EUR</span> {{ cart.total_price | money }}</p>
      </div>
    </div>
  </div>

  <div class="form-container">
    <h4 class="box-title">Albis Leasing Calculator</h4>
    <div class="box-content">
      <form id="leasingCalculator" class="leasing-calculator">
        <p class="calcultor-text">
          Quickly and easily calculate the monthly leasing rate to be paid for the planned purchase value: <br>
          Enter the purchase price (excluding VAT) as the financing amount:
        </p>

        <div class="form-fields-wrapper">
          <div class="form-fields-container">
            <div class="label-input">
              <label for="propertyInsurance calc-label">Property insurance available:</label>
              <select id="propertyInsurance" name="property_insurance" class="calculator-select">
                <option value="no">No</option>
                <option value="yes">Yes</option>
              </select>
            </div>

            <div class="label-input">
              <label for="financingAmount">Financing amount (net):</label>
              <div class="finance-field">
                <input
                  id="financingAmount"
                  name="financing_amount"
                  type="number"
                  value="769"
                  class="calculator-input"
                >
                <span class="finance-symbol">€</span>
              </div>
            </div>

            <div class="label-input">
              <label for="downPayment">Down payment:</label>
              <div class="finance-field">
                <input id="downPayment" name="down_payment" type="number" value="0" class="calculator-input">
                <span class="finance-symbol">€</span>
              </div>
            </div>

            <div class="label-input">
              <label for="paymentMethod">Payment method:</label>
              <select id="paymentMethod" name="payment_method" class="calculator-select"></select>
            </div>
          </div>
          <button type="button" id="calculatorBtn" class="calculator-btn">
            Calculate
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="installments-container">
    <h4 class="box-title">
      Leasing installments <span class="box-title-small">(financing amount: {{ cart.total_price | money }})</span>
    </h4>
    <div class="box-content">
      <div class="leasing-info">
        <p class="leasing-txt">Please select the desired contract period:</p>
        <table>
          <thead>
            <tr>
              <th>Contract term</th>
              <th>Monthly rate <span class="note-number">(1)</span></th>
              <th>Insurance <span class="note-number">(1.2)</span></th>
              <th>Total leasing rate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://{{ shop.permanent_domain }}/pages/albis-leasing-request"  class="contract-btn">
                  30 months »
                </a>
              </td>
              <td>€32.94</td>
              <td>€6.90</td>
              <td>€39.84</td>
            </tr>
            <tr>
              <td>
                <a href="https://{{ shop.permanent_domain }}/pages/albis-leasing-request" class="contract-btn"
                  >60 months »</a
                >
              </td>
              <td>€18.89</td>
              <td>€6.90</td>
              <td>€25.79</td>
            </tr>
            <tr>
              <td>
                <button type="button" id="testBtn">Test Btn</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="important-note-container">
          <p class="important-note">
            IMPORTANT: Please make sure that the delivery times apply at the time of application. Until you sign the
            leasing contract and provide identification, delivery times may change.
          </p>
          <p><span class="note-number">(1)</span> in EUR plus VAT per month with quarterly or monthly payment.</p>
          <p>
            <span class="note-number">(2)</span> The lessee can prove sufficient coverage through an existing or new
            insurance policy with any insurance provider by presenting a security certificate issued to ALBIS HiTec
            Leasing GmbH.
          </p>
          <p><span class="note-number">(1s)</span> An additional one-time fee of €67.50 net will be charged.</p>
        </div>
      </div>
    </div>
  </div>
</div>
