{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %} {% endcomment %}
{{ 'albis-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'albis-product.js' | asset_url }}" defer="defer"></script>
<div hidden id="ah-product-id" class="albisHiddenInfo">{{ product.variants[0].id }}</div>
<div hidden id="ah-secure-url" class="albisHiddenInfo">{{ shop.secure_url }}</div>
<div hidden id="ah-product-price" class="albisHiddenInfo">{{ product.price }}</div>
<div hidden id="ah-shop-domain" class="albisHiddenInfo">{{ shop.domain }}</div>

<div class="d-flex gap">
  <div class="separator">- oder -</div>
  <a id="addProductAndRedirect" class="button full-width" href="https://{{ shop.permanent_domain }}/pages/albis-leasing">👉 Jetzt Leasen</a>
  <div class="preview-container">
    <div>Leasen statt kaufen!</div>
    <table id="preview-table" class="d-flex flex-center ta-left preview-text">
      <tr class="alternate-color">
        <th>Laufzeit</th>
        <th>Rate/m</th>
      </tr>
      <tr hidden id="albis-replace-rates"></tr>
    </table>
  </div>
</div>

{% schema %}
{
  "name": "Product Albis Leasing",
  "target": "section"
  // "settings": [
  //   { "type": "product", "id": "product", "label": "product", "autofill": true },
  //   { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  // ]
}
{% endschema %}

